# ---------------------------------
# CLIENT
# ---------------------------------
[client]

# ---------------------------------
# SERVER
# ---------------------------------
[mysqld]

# ---------------------------------
# InnoDB
# ---------------------------------


!includedir /etc/my.cnf.d
